{% extends 'base.html' %}
{% load static%}

{% block title %}
{{block.super}}HTC
{% endblock title %}

{% block content%}
    <div id="content_wrapper">
            <div id="content" class="content centered_1060">
                <div class="phones">
                    <div class="catalog-main">
                        <a href="{% url 'xperia' %}"><img src="{% static 'images/phones/sony/sm_xperia_xa.jpg' %}"
                                                                           alt="ASUS ZenFone2 Deluxe SE"></a>
                        <p>Sony XPeria XA Ultra</p>
                        <a href="{% url 'xperia' %}">Подробнее</a>
                    </div>
                    <div class="catalog-main">
                        <a href="{% url 'xperia' %}"><img src="{% static 'images/phones/sony/sm_xperia_xa.jpg' %}"
                                                                           alt="ASUS ZenFone2 Deluxe SE"></a>
                        <p>Sony XPeria XA Ultra</p>
                        <a href="{% url 'xperia' %}">Подробнее</a>
                    </div>
                    <div class="catalog-main">
                        <a href="{% url 'xperia' %}"><img src="{% static 'images/phones/sony/sm_xperia_xa.jpg' %}"
                                                                           alt="ASUS ZenFone2 Deluxe SE"></a>
                        <p>Sony XPeria XA Ultra</p>
                        <a href="{% url 'xperia' %}">Подробнее</a>
                    </div>
                    <div class="catalog-main">
                       <a href="{% url 'xperia' %}"><img src="{% static 'images/phones/sony/sm_xperia_xa.jpg' %}"
                                                                           alt="ASUS ZenFone2 Deluxe SE"></a>
                        <p>Sony XPeria XA Ultra</p>
                        <a href="{% url 'xperia' %}">Подробнее</a>
                    </div>
                    <div class="catalog-main">
                        <a href="{% url 'xperia' %}"><img src="{% static 'images/phones/sony/sm_xperia_xa.jpg' %}"
                                                                           alt="ASUS ZenFone2 Deluxe SE"></a>
                        <p>Sony XPeria XA Ultra</p>
                        <a href="{% url 'xperia' %}">Подробнее</a>
                    </div>
                    <div class="catalog-main">
                        <a href="{% url 'xperia' %}"><img src="{% static 'images/phones/sony/sm_xperia_xa.jpg' %}"
                                                                           alt="ASUS ZenFone2 Deluxe SE"></a>
                        <p>Sony XPeria XA Ultra</p>
                        <a href="{% url 'xperia' %}">Подробнее</a>
                    </div>
                    <div class="catalog-main">
                        <a href="{% url 'xperia' %}"><img src="{% static 'images/phones/sony/sm_xperia_xa.jpg' %}"
                                                                           alt="ASUS ZenFone2 Deluxe SE"></a>
                        <p>Sony XPeria XA Ultra</p>
                        <a href="{% url 'xperia' %}">Подробнее</a>
                    </div>
                    <div class="catalog-main">
                       <a href="{% url 'xperia' %}"><img src="{% static 'images/phones/sony/sm_xperia_xa.jpg' %}"
                                                                           alt="ASUS ZenFone2 Deluxe SE"></a>
                        <p>Sony XPeria XA Ultra</p>
                        <a href="{% url 'xperia' %}">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}